// purgecss start ignore
@tailwind base;
@tailwind components;
// purgecss end ignore

@tailwind utilities;

* {
  @apply antialiased;
}

html,
body {
  @apply bg-gradient-to-br to-bluegray-600 from-cyan-900;
  @apply text-bluegray-300;
  @apply font-sans;
  @apply mx-auto;
}
